.app {
  padding: 10px;
  margin-left: 20px;
}

.canvas {
  margin-top: 10px;
  width: 1300px;
  height: 670px;
  border: 1px solid #ccc;
  position: relative;
  overflow: scroll;
 
 }

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

button {
  margin-top: 10px;
  width: 100px;
  height: 30px;
  background-color:aquamarine;
}

.drag-handle {
  cursor: move;
}